$size1: 8px;
$size2: 12px;
$size3: 18px;
$size4: 24px;
$size5: 48px;
$backgroundColor: #27292d;
$textColor: white;
$primaryColor: #013BA7;
$secondTextColor: #1f2023;
$tabsColor: #d9e1ee;
$border: 2px solid $tabsColor;

body {
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $backgroundColor;
    color: $textColor;

    #app {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;

        h1 {
            font-weight: bold;
            font-size: 28px;
            text-align: center;
        }

        header {
            img {
                &.avatar {
                    border-radius: 50px;
                    border: 3px solid;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            h5 {
                color: $textColor;
                max-width: 100px;
                word-break: break-word;
                white-space: normal;

                &:hover {
                    color: $primaryColor;
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            background: $textColor;
            border-radius: $size1;

            label {
                font-size: 16px;
                font-weight: bold;
                color: $secondTextColor;
                margin: 15px 15px 0;
            }

            textarea,
            button {
                height: $size5;
                box-shadow: none;
                outline: none;
                padding-left: $size2;
                padding-right: $size2;
                border-radius: $size1;
                font-size: 18px;
                margin-top: $size1;
                margin-bottom: $size2;
            }

            textarea.add-todo {
                background-color: transparent;
                border: $border;
                color: $secondTextColor;
                margin: 10px;
                position: relative;
                resize: none;
                height: 70px;

                &:focus::placeholder {
                    color: white;
                }

                &:focus:-ms-input-placeholder {
                    color: white;
                }

                &:focus::-ms-input-placeholder {
                    color: white;
                }
            }
        }

        nav {
            margin-top: 20px;
        }

        .nav-tabs {
            border-bottom: none;
        }

        button {
            cursor: pointer;
            background-color: $primaryColor;
            border: 1px solid $primaryColor;
            color: $textColor;
            font-weight: bold;
            outline: none;
            border-top-left-radius: $size1;
            border-top-right-radius: $size1;

            &.nav-link {
                background-color: $tabsColor;
                border: none;
                color: $secondTextColor;
                padding: 10px 20px;
                font-size: $size3;

                &.active {
                    background-color: $textColor;
                }
            }

            &.add-btn {
                margin-left: auto;
                margin-right: 10px;
                font-size: 16px;
                height: 40px;
                padding: 0 15px;
                margin-bottom: 15px;
            }

            i {
                margin-right: 5px;
            }
        }

        h2 {
            font-size: 22px;
            border-bottom: $border;
            padding-bottom: $size1;
        }

        ul {
            padding: 20px;
            background: #fff;
            border-top-right-radius: $size1;
            border-bottom-right-radius: $size1;
            border-bottom-left-radius: $size1;

            li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: $size3 $size4;
                border-radius: $size1;
                margin-bottom: $size2;
                background-color: $tabsColor;
                color: $secondTextColor;
                font-weight: 700;

                .wrapper {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                }

                .wrapper input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                .checkmark {
                    position: absolute;
                    top: -5px;
                    left: -10px;
                    height: 20px;
                    width: 20px;
                    background-color: $textColor;
                    pointer-events: none;
                    border-radius: 15px;
                }

                .wrapper:hover input~.checkmark {
                    background-color: #ccc;
                }

                .wrapper input:checked~.checkmark {
                    background-color: $primaryColor;
                }

                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                .wrapper input:checked~.checkmark:after {
                    display: block;
                }

                .wrapper .checkmark:after {
                    left: 7px;
                    top: 4px;
                    width: 6px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(43deg);
                    -ms-transform: rotate(43deg);
                    transform: rotate(43deg);
                }

                span {
                    cursor: pointer;
                    font-size: $size3;
                }

                .done {
                    text-decoration: line-through;
                }

                button {
                    font-size: $size2;
                    padding: $size1;
                }
            }
        }

        h4 {
            text-align: center;
            opacity: 0.5;
            margin: 0;
        }
    }
}