$border: 2px solid rgba($color: white,
    $alpha: 0.35,
);
$size1: 6px;
$size2: 12px;
$size3: 18px;
$size4: 24px;
$size5: 48px;
$backgroundColor: #27292d;
$textColor: white;
$primaryColor: #a0a4d9;
$secondTextColor: #1f2023;

body {
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $backgroundColor;
    color: $textColor;

    #app {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;

        h1 {
            font-weight: bold;
            font-size: 28px;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;

            label {
                font-size: 14px;
                font-weight: bold;
            }

            input,
            button {
                height: $size5;
                box-shadow: none;
                outline: none;
                padding-left: $size2;
                padding-right: $size2;
                border-radius: $size1;
                font-size: 18px;
                margin-top: $size1;
                margin-bottom: $size2;
            }

            input {
                background-color: transparent;
                border: $border;
                color: inherit;
            }
        }

        button {
            cursor: pointer;
            background-color: $primaryColor;
            border: 1px solid $primaryColor;
            color: $secondTextColor;
            font-weight: bold;
            outline: none;
            border-top-left-radius: $size1;
            border-top-right-radius: $size1;
        }

        h2 {
            font-size: 22px;
            border-bottom: $border;
            padding-bottom: $size1;
        }

        ul {
            padding: 10px;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: $border;
                padding: $size2 $size4;
                border-radius: $size1;
                margin-bottom: $size2;

                .wrapper {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                }
                .wrapper input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }
                .checkmark {
                    position: absolute;
                    top: -5px;
                    left: -10px;
                    height: 20px;
                    width: 20px;
                    background-color: #eee;

                    border-radius: 15px;
                }
                .wrapper:hover input~.checkmark {
                    background-color: #ccc;
                }
                .wrapper input:checked~.checkmark {
                    background-color: #013BA7;
                }
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                .wrapper input:checked~.checkmark:after {
                    display: block;
                }
                .wrapper .checkmark:after {
                    left: 8px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                span {
                    cursor: pointer;
                }

                .done {
                    text-decoration: line-through;
                }

                button {
                    font-size: $size2;
                    padding: $size1;
                }
            }
        }

        h4 {
            text-align: center;
            opacity: 0.5;
            margin: 0;
        }
    }
}